.App{
  background-color: black;
}
.loader > img {
  height: 30vh;
}
/* .loader-mask {
  background: rgba(0, 0, 0);
  height: 100vh;
  width: 100vw;
  opacity: 0;
  position: absolute;
  z-index: 21;
  top: 0;
  left: 0;
 
} */